.table {
  padding: 2rem 0;

  &__header {
    .table-row {
      th {
        text-align: unset;
        background-color: #e6e6e6;
        &:first-child {
          text-transform: uppercase;
        }
      }
    }
  }

  .table-row {
    cursor: default;
    td,
    th {
      text-transform: capitalize;
      border: 0.5px solid black;
      width: 10%;
      padding: 0.4rem;
    }
  }

  [data-noaccounts='true'] {
    background-color: red;
  }

  [data-ishighlighted='true'],
  [data-selected='true'] {
    background-color: rgb(141, 148, 207);
  }
}
